<tr>
  <td><%= link_to list.title, list %></td>
  <td><%= list.event %></td>
  <td><%= list.event_date %></td>
  <td><%= button_to 'Delete', list, method: :delete, confirm: "Are you sure?" %></td>
</tr>
