<!-- <h2><%= current_user.email %>'s Lists </h2>
<br/>
<p>Remember: In your profile you can view products and lists you've added and also check up on your friends!</p>
<table class="table">
<tr>
  <th>Title</th>
  <th>Event</th>
  <th>Date</th>
</tr>
<%= render @lists  %>


</table> -->