.row
  .jumbotron
    %h1 Welcome to GiftShare!
    %p Your home for creating and sharing personalized wishlists for any occasion!
  .col-md-6
    %p Search through our massive database, including items from the Amazon.com webstore and Etsy.com!
    %p As you find items you want, add them to your list
    %p Make sure to share your lists with all your friends and family. 