-content_for :head do
  = stylesheet_link_tag 'searches'

.container
  .row
    .col-sm-6
      = form_for [list, Search.new], method: :post, class: "form-inline", role: "form" do
        .form-group
          %strong.h4 Search products by keyword: 
        .form-group
          = text_field_tag :keyword, nil, placeholder: "Enter your search here...", class: "form-control", type: "search"
        .form-group
          #search-button= submit_tag("Search!", class: "btn btn-small")

