@import "bootstrap";
@import "bootstrap/theme";

$main-color: rgba(216, 32, 28, 1);

@font-face {
  font-family: mainFont;
  src: url(font1.ttf);
}

@mixin main-style {
  font-family: mainFont;
  color: $main-color;
}

.container-full-viewport {
  margin-left: auto;
  margin-right: auto;
  nav.navbar.special div.container ul li a {
    color: $main-color;
  }
}

.navbar-brand {
  color: $main-color;
}