@import "bootstrap";
@import "bootstrap/theme";
@import "social-share-button";

$main-color: rgba(216, 32, 28, 1);
$font-color: rgba(216, 32, 28, 1);
@font-face {
  font-family: mainFont;
  src: url(font1.ttf);
}

@mixin main-style {
  font-family: mainFont;
  color: $font-color;
}

.container-full-viewport {
  margin-left: auto;
  margin-right: auto;
  nav.navbar.special div.container ul li a { color:  #22262f; }
}

.navbar-left.navbar-brand a { 
  color: $font-color;
  font-size: 1.7em;
  font-weight:bold;
  text-decoration:none;
}

.hide {
  display:none;
}