body {
  background-color:#FDFFF7;
}

/****** Nav Bar ******/

div.container-full-viewport {
  margin-left: auto;
  margin-right: auto;
}

.special {
  background-color:#F7F8F1;
  border-radius:none;
}

ul.nav.navbar-nav li a {
  text-shadow: none;
  color: #A61915;
}

.navbar.special {
  border-radius:0;
}

.center {
  text-align:center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/****** Buttons ******/

button.btn.btn-lg a {
  color: #C90600;
}
