$main-color: rgba(216, 32, 28, 1);
$list-color: #274D9A;
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#mini_list.panel.panel-default {
  position:fixed;
  left:0px;
  top:10%;
  min-height: 80%;
  height: 80%;
  margin:0;
  padding:0;
  .panel-heading {
    background-image:none;
    background-color: $list-color;
    margin:0px;
    padding:0px;
    height:5%;
    .panel-title { 
      color:white;
      font-size:2em;
      text-align:center;
      vertical-align:center;

    }
  }
  .panel-body {
    background-color: #E8DFEB;
    height:75%;
    overflow-y: scroll;
    padding:0;
    %ol { 
      padding-left: 10px;
      li { 
        overflow: hidden;
        display: inline;
       }
    }
  }
  .panel-footer {
    position:relative;
    bottom: 0px;
    height: 20%;
    min-height:20%;
    margin-top: 1%;
    padding-left: 2.5%;
    margin-left:auto;
    margin-right:auto;
    padding-top:15px;
    background-color: $list-color;
    color:white;
  }
}

.bounding-box {
  width:50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 65px;
  width: auto;
}

div.thumbnail-box {
  display:inline;
  margin:auto;
  height: 400px;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: mainFont;

  .thumbnail {
    box-shadow: 5px 5px 2px;
    height:100%;
    padding-left:2%;
    padding-right:2%;

    .thumbnail-image-container {
      height: 45%;
      a { img { @include center-block; } }
    }

    .caption{
      padding: 0px;
      margin:0px;
      height:35%;
      line-height:.8em;
      vertical-align: baseline;
    }

    .panel-footer {
      height: 15%;
      margin-top: 1%;
      padding-left: 2.5%;
    }
  }
}

.searches-panel { line-height: 1em; }

.delete-confirm-box {
  background-color: red;
  width: 30%;
  display:none;
  color: white;
}
.btn.btn-xs.btn-danger.pull-left { display:none; }