div.thumbnail-box {
  display:inline;
  margin:auto;
  height: 400px;

	div.thumbnail {
  		height:95%
	}
}

.thumbnail-image-container { 
  padding-left: 5%;
  max-height: 45%;
}

.caption{
  max-height: 50%;
}

div.amazon.caption {
	height:55%;
	margin-top:2.5%;
	padding:2.5%;

	div.panel.panel-default {
		height:100%;
		width:100%;
	}
}

.searches-panel {
  line-height:.50;
}