@mixin main-style {
  font-family: mainFont;
  color: $main-color;
}

$main-color: rgba(216, 32, 28, 1);

body {
  z-index: -1000;
}

div.jumbotron.welcome {
  h1 { font-family: mainFont;}
  @include main-style;
  position: relative;
  top: -5%;
  left: -5%;
   background-color: rgba(0,0,0,.0);
}

section.panel {
  background-color: rgba(0, 0, 0, 0.82);
  position: absolute;
  top: 70%;
  left:0%;
  right:0%;
  height:30%;
}

.jumbotron.special {
  background-color: transparent;
  color: white;
  text-align: center;
  font-family: "Sentinel SSm A","Sentinel SSm B","Georgia","Times New Roman";
  margin: 0;
  padding: 0;
  position:absolute;
  top: 30px;
  left: 30%;
}

div#welcomepage.col-sm-4.thumbnail-box{
  width: 260px;
  height:360px;
  box-shadow: 0px 0px 0px; 
  .thumbnail { box-shadow: 0px 0px 0px; }
}

.connection {
  display: none;
	border: 15px solid $main-color;
	border-radius: 31px;
}

#welcome-info {
  display:absolute;
}
  
.row-liquid#support-info {
  margin:auto;
  position:absolute;
  left:0;
  right:0;
  bottom:5%;
  border-top: 5px solid #dd3b2a;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.9);

}