$font-color: #22262f;
$font-family: mainFont;
$faded: #747c81;
$main-color: rgba(216, 32, 28, 1);

body {
  z-index: -1000;
}

div.jumbotron.welcome {
  h1 { font-family: $font-family;}
  color: $faded;
  font-family: $font-family;
  position: relative;
  top: -5%;
  left: -5%;
  background-color: rgba(0,0,0,.0);
}

section.panel {
  background-color: white;
  position: absolute;
  top: 70%;
  left:0%;
  right:0%;
  height:30%;
}

.jumbotron.special {
  background-color: white;
  color: white;
  text-align: center;
  font-family: "Sentinel SSm A","Sentinel SSm B","Georgia","Times New Roman";
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30px;
  left: 30%;
}

div#welcomepage.col-sm-4.thumbnail-box{
  width: 260px;
  height: 360px;

  .thumbnail {   box-shadow: 0; }
}

#welcome-info {
  display:absolute;
}
  
.row-liquid#support-info {
  margin: auto;
  position: relative;
  margin-top: 10%;
  left: -32.5%;
  min-width: 165%;
  width: 165%;
  

  border-top: 5px solid #dd3b2a;
  background-color: rgba(255, 255, 255, 0.9);

}

/************ Nav bar  /************/

body { background-color: white; }

/****** Nav Bar ******/

div.container-full-viewport {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.special {
  background-color: white;
  border-radius:none;
}

ul.nav.navbar-nav li a {
  text-shadow: none;
  color: $font-color;
  font-size: 125%;
}

.navbar.special {
  border-radius:0;
}

.center {
  text-align:center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/****** Buttons ******/
button.btn.btn-primary.btn-lg.btn-block a { color: #E5E5E5; }

button.btn.btn-lg a {
  color: $font-color;
  text-decoration:none;
  font-family: Arial, "MS Trebuchet", sans-serif;
}

div#social-buttons div.social-share-buttons a {

}