@import 'application';

body {
  z-index: -1000;
}

div.jumbotron.welcome {
  h1 { font-family: mainFont;}
  @include main-style;
  position: relative;
  top: -5%;
  left: -5%;
   background-color: rgba(0,0,0,.0);
}

section.panel {
  background-color: rgba(0, 0, 0, 0.82);
  position: absolute;
  top: 70%;
  left:0%;
  right:0%;
  height:30%;
}

.jumbotron.special {
  background-color: transparent;
  color: white;
  text-align: center;
  font-family: "Sentinel SSm A","Sentinel SSm B","Georgia","Times New Roman";
  margin: 0;
  padding: 0;
  position:absolute;
  top: 30px;
  left: 30%;
}

div.container#welcome-results {
  position: absolute;
  top:50%;
  left:0;
  right:0;
}

.col-sm-4.thumbnail-box {
  width: 260px;
  height:95%;
}

.container#search-example {
  display:none;
}

.connection {
  display: none;
	border: 15px solid $main-color;
	border-radius: 31px;
}

#welcome-info {
  display:absolute;
}