.btn-group
  %button.btn.btn-default{ type: 'button' }= link_to 'Global', activities_path
  %button.btn.btn-default{ type: 'button' }= link_to 'Friends', activities_path(scope: 'friends')

.container
  .row.col-sm-12
    %ul.media-list
      = render_activities(@activities)