!!!
%html

  %body
    %h1 #{@user.display_user_as("username")} has shared their list, #{@list.title}, with you!
    
    %span Check it out here...
    %span= link_to "GiftShare", list_url(@list)
    %span !!
